

html {
    background-color: #2b1f1f;
}

body {
    background-color: #2b1f1f;
    color: #f2e9dc;
    font-family: "Times New Roman", serif;
    margin: 40px;
}


body div {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    background-color: #3c2a2a;
    border: 1px solid #5b3d3d;
}

h1 {
    text-align: center;
    color: #f4ebe2;
    font-size: 2.2em;
}

h2 {
    text-align: center;
    color: #d8c1b4;
    border-bottom: 1px solid #5b3d3d;
    padding-bottom: 5px;
}

h4 {
    color: #c9b8a6;
}


p {
    line-height: 1.6em;
}


a {
    color: #d7cbc1;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}


ul {
    list-style: square;
    margin-left: 40px;
}

li {
    color: #eaddd1;
    margin-bottom: 6px;
}

details {
    background-color: #2f2222;
    border: 1px solid #5b3d3d;
    margin: 10px 0;
    padding: 10px;
}

summary {
    font-weight: bold;
    color: #d8c1b4;
    cursor: pointer;
}
